@media (min-width: 1400px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: 1860px !important;
    }

}


@media (max-width: 768px) {

    .btn-custom {
        font-size: 16px !important;
        padding: 8px 24px !important;
        border-radius: 16px;
    }

}